.container {
	position: sticky;
	bottom: 0;
	z-index: 15;

	max-width: 480px;
	width: 100%;
	height: 155px;
	padding-top: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;

	background-color: #fff;
	box-shadow: #0000003d 0 0 4px;
}

.order {
	color: var(--light-gray);
}

.buy {
	font-weight: bold;
	font-size: 20px;
}
