.welcomePage {
	position: relative;

	height: calc(100dvh - 32px);
	max-width: 480px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;

	text-align: center;
}

.yatoro {
	flex: 2;
	display: flex;
	justify-content: center;
	align-items: center;

	background: url("../../../../public/phone-frame.svg") no-repeat;
	background-size: contain;
	background-position: center;
}

.yatoroBtn:focus-visible {
	outline: none;
}

.textWrapper {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
