.welcomePage {
	position: absolute;
	inset: 0;
	max-width: 480px;

	margin: 0 auto;
	padding-top: 350px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;

	background: url("../../../../public/phone-frame.svg") no-repeat center;
	background-position-y: 50px;
	background-color: #fff;
}

.yatoro {
	position: absolute;
	top: 190px;
	border: none;
}
