* {
	user-select: none;
}

p,
li,
ul {
	margin: 0;
	padding: 0;
}

.main {
	height: 100%;
	margin: auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content {
	height: 100%;
	max-height: 1000px;
	width: 100%;
	max-width: 480px;

	flex: 1;
	overflow: scroll;
	background-color: #fff;
}

.content::-webkit-scrollbar {
	display: none;
}
